body {
    margin: 0px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(57, 59, 71) 0%, rgb(24, 34, 44) 81.3% );
    color: #fff;
}

a {
    color: #737ebb;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px;
}